html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
}

.img-wrap {
  position: relative;
  /* margin: auto; */
  top: 0;
  left: 0;
}

.img_lang {
  position: absolute;
  width: 1000px;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  /* z-index: -1; */
}
