html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
}

.img-wrap {
  position: relative;
  width: 1000px;
  /* height: 200px; */
  top: 0;
  left: 0;
}
.img_lang1 {
  /* position: relative; */
  width: 1000px;
  top: 0;
  left: 0;
  z-index: 0;
}

.img_lang2 {
  position: absolute;
  width: 1000px;
  top: 0;
  left: 0;
  z-index: -1;
}
